<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Code Snippets</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <main role="main">
        {{>flash}}
    {{{body}}}
    </main>
</body>
</html>