  <h3 class="headings">Create your own snippets!</h3>

  <form method="post" action="/snippets/create">
    <input type="text" name="author" value="{{username}}" readonly="readonly" /><br>
    <textarea class="snippetarea" name="snippet" placeholder="Write snippet"></textarea><br>
    <input class="btn" type="submit" value="Save snippet">
  </form>

