<h3 class="headings">Login to your account</h3>

<form method="post" action="/accounts/loginPost">
    <input class="inputfield" type="text" name="username" placeholder="Name"><br>
    <input class="inputfield"  type="password" name="password" placeholder="Password"><br>
    <input type="submit" class="btn" value="Login">
</form>
