<h3 class="headings">Register to be able to create, edit and delete your snippets!</h3>

<form method="post" action="/accounts/registerPost">
    <input class="inputfield" type="text" name="username" placeholder="Name"/>
    <br>
    <input class="inputfield" type="password" name="password" placeholder="Password"/>
    <br>
    <input type="submit" class="btn" value="Register"/>
</form>
